{% extends 'base.html.twig' %}

{% block title %} Collective Interviews List{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}


{% block body %}
    <main class="main" id="top">
        <div class="container" data-layout="container">

            {{ include('_sidebar.html.twig') }}

            <div class="content">

                {{ include('_navbar.html.twig') }}
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row flex-between-end">
                            <div class="col-auto align-self-center">
                                <h5 class="mb-0" data-anchor="data-anchor">Your collective interviews</h5>
                            </div>
                            <div class="col-auto ms-auto">
                            </div>
                        </div>
                    </div>
                    <div class="card-body bg-light">
                        <div class="tab-content">
                            <div class="tab-pane preview-tab-pane active">
                                <div class="table-responsive scrollbar">
                                    <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
                                        <thead class="bg-200 text-900">
                                        <tr>
                                            <th scope="col">Start</th>
                                            <th scope="col">End</th>
                                            <th scope="col">Place</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for interview in interviews %}
                                            <tr class="align-middle">
                                                <td class="text-nowrap" id="{{ interview.Id }}"
                                                    data-bs-target="#result-modal">
                                                    <div class="d-flex align-items-center">
                                                        <div class="ms-2">{{ interview.start|date("Y M d H:m") }}</div>
                                                    </div>
                                                </td>
                                                <td class="text-nowrap"
                                                    id="{{ interview.Id }}">{{ interview.end|date("Y M d H:m") }}</td>
                                                <td class="text-nowrap "
                                                    id="{{ interview.Id }}">{{ interview.place }} </td>
                                                <td class="result">
                                                    <a class="btn btn-sm  btn-falcon-info btn-sm "
                                                       href={{ path('app_collective_candidates',{'collectiveInterview':interview.Id}) }}>Candidates</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}