{% use 'bootstrap_5_horizontal_layout.html.twig' %}


{% block form_label_class -%}
{%- endblock form_label_class %}

{% block form_group_class -%}
{%- endblock form_group_class %}

{% block submit_row -%}

    <div{% with {attr: row_attr|merge({class: ' row'|trim})} %}{{ block('attributes') }}{% endwith %}>
        <div class="{{ block('form_group_class') }} d-flex justify-content-center">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock submit_row %}

{%- block submit_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('btn-falcon-default btn-sm'))|trim}) -%}
    {{- parent() -}}
{%- endblock submit_widget %}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select class="form-select js-choice" {{ block('widget_attributes') }} {% if multiple %} multiple="multiple"{% endif %}
            size="1" data-options='{"removeItemButton":true,"placeholder":true}'>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {% set render_preferred_choices = true %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {%- set render_preferred_choices = false -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

