{% import _self as formMacros %}
{% macro printCriterionRow(sheetPartCriterion) %}
    <div class="input-group option">
        {{ form_widget(sheetPartCriterion) }}
        <a class="m-1 remove-option-button text-danger cursor-pointer" style="z-index: 0">
            <span class="fa-solid fa-xmark" data-fa-transform="shrink-3 down-2"></span>
        </a>
    </div>
    {{ form_errors(sheetPartCriterion) }}
{% endmacro %}


{{ form_start(SheetPartForm,{'attr' : {'class' : 'edit-sheet-part-form','data-sheet-part-id' : sheetPartId },'action': path('app_interview_evaluation_grid_edit_sheet')}) }}

{{ form_row(SheetPartForm.name) }}
{{ form_row(SheetPartForm.coefficient) }}
<ul>
    {% for flash in app.flashes('error') %}
        <li class="text-danger mb-3">{{ flash }}</li>
    {% endfor %}
</ul>
    <button class="btn btn-falcon-default btn-sm add-another-collection-widget-edit-form mb-3" type="button"
            data-list-selector="#edit-sheet-part-criteria-list"><span class="fas fa-plus"
                                                               data-fa-transform="shrink-3 down-2"></span><span
                class="d-none d-sm-inline-block ms-1">Add option</span></button>
    <ul id="edit-sheet-part-criteria-list" style="list-style-type: none;"
        data-prototype="{{ formMacros.printCriterionRow(SheetPartForm.interviewsEvaluationCriteria.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ SheetPartForm.interviewsEvaluationCriteria|length }}">
        {% for interviewsEvaluationCriterion in SheetPartForm.interviewsEvaluationCriteria %}
            {{ formMacros.printCriterionRow(interviewsEvaluationCriterion) }}
        {% endfor %}
    </ul>

{% if recruitmentSession.depChoiceMaxNbre %}
    {{ form_row(SheetPartForm.departments) }}
{% endif %}

<div class="row gx-2 mt-2">
    <button class="btn btn-primary btn-sm d-block" type="submit"><span class="fas fa-edit"
                                                                       data-fa-transform="shrink-3 down-2"></span>Edit
    </button>
</div>

{{ form_end(SheetPartForm) }}