{% extends 'base.html.twig' %}

{% block title %}Individual Interviews{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('createInterview') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('createInterview') }}

{% endblock %}

{% block body %}
    <main class="main" id="top">
        <div class="container" data-layout="container">

            {{ include('_sidebar.html.twig') }}
            <div class="content">
                {{ include('_navbar.html.twig') }}
                {% if access is same as(true) %}
                <div class="card mb-3 overflow-hidden">
                    <div class="card-header">
                        <div class="row gx-0 align-items-center">
                            <div class="col-auto d-flex justify-content-end order-md-1">
                                <button class="btn icon-item icon-item-sm shadow-none p-0 me-1 ms-md-2" type="button"
                                        data-event="prev" data-bs-toggle="tooltip" title="Previous"><span
                                            class="fas fa-arrow-left"></span></button>
                                <button class="btn icon-item icon-item-sm shadow-none p-0 me-1 me-lg-2" type="button"
                                        data-event="next" data-bs-toggle="tooltip" title="Next"><span
                                            class="fas fa-arrow-right"></span></button>
                            </div>
                            <div class="col-auto col-md-auto order-md-2">
                                <h4 class="mb-0 fs-0 fs-sm-1 fs-lg-2 calendar-title"></h4>
                            </div>
                            <div class="col col-md-auto d-flex justify-content-end order-md-3">
                                <button class="btn btn-falcon-primary btn-sm" type="button" data-event="today">Today
                                </button>
                            </div>
                            <div class="col-md-auto d-md-none">
                                <hr/>
                            </div>
                            <div class="col-auto d-flex order-md-0">
                            </div>
                            <div class="col d-flex justify-content-end order-md-2">
                                <div class="dropdown font-sans-serif me-md-2">
                                    <button class="btn btn-falcon-default text-600 btn-sm dropdown-toggle dropdown-caret-none"
                                            type="button" id="email-filter" data-bs-toggle="dropdown"
                                            data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                                data-view-title="data-view-title">Month View</span><span
                                                class="fas fa-sort ms-2 fs--1"></span></button>
                                    <div class="dropdown-menu dropdown-menu-end border py-2"
                                         aria-labelledby="email-filter"><a
                                                class="active dropdown-item d-flex justify-content-between" href="#!"
                                                data-fc-view="dayGridMonth">Month View<span class="icon-check"><span
                                                        class="fas fa-check" data-fa-transform="down-4 shrink-4"></span></span></a><a
                                                class="dropdown-item d-flex justify-content-between" href="#!"
                                                data-fc-view="timeGridWeek">Week View<span class="icon-check"><span
                                                        class="fas fa-check" data-fa-transform="down-4 shrink-4"></span></span></a><a
                                                class="dropdown-item d-flex justify-content-between" href="#!"
                                                data-fc-view="timeGridDay">Day View<span class="icon-check"><span
                                                        class="fas fa-check" data-fa-transform="down-4 shrink-4"></span></span></a><a
                                                class="dropdown-item d-flex justify-content-between" href="#!"
                                                data-fc-view="listWeek">List View<span class="icon-check"><span
                                                        class="fas fa-check" data-fa-transform="down-4 shrink-4"></span></span></a><a
                                                class="dropdown-item d-flex justify-content-between" href="#!"
                                                data-fc-view="listYear">Year View<span class="icon-check"><span
                                                        class="fas fa-check" data-fa-transform="down-4 shrink-4"></span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="calendar-outline" id="appCalendar"></div>
                    </div>
                </div>
                {% else %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row flex-between-center">
                                <div class="col-md text-center">
                                    <h5 class="mb-2 mb-md-0">You no longer can access this page</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="modal fade" id="eventDetailsModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content border"></div>
                </div>
            </div>
            <div class="modal fade" id="addEventModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content border">
                        <div class="modal-header px-card bg-light border-bottom-0">
                            <h5 class="modal-title">Create Schedule</h5>
                            <button class="btn-close me-n1" type="button" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body p-card addEventModelBody">
                            {{ include('individual_interview/_create_form_script.html.twig') }}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}
