<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">

    <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse"
            aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    <a class="navbar-brand me-1 me-sm-3" href="{% if is_granted('ROLE_CANDIDATE') %}{{ path('app_candidate') }} {% elseif is_granted('ROLE_RECRUITER')  %}{{ path('app_recruiter')}}{% elseif is_granted('ROLE_ADMIN')  %}{{ path('app_admin')}} {% endif %}">
        <div class="d-flex align-items-center"><img class="me-2"
                                                    src="{{ asset('build/images/logo_join/logo_join.55b5addf.png') }}"
                                                    alt="" width="80"/>
        </div>
    </a>
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
        <li class="nav-item">
            <div class="theme-control-toggle fa-icon-wait px-2">
                <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle"
                       type="checkbox" data-theme-control="theme" value="dark"/>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                       for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                       title="Switch to light theme"><span class="fas fa-sun fs-0"></span></label>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                       for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                       title="Switch to dark theme"><span class="fas fa-moon fs-0"></span></label>
            </div>
        </li>
        <li class="nav-item dropdown"><a class="nav-link pe-0" id="navbarDropdownUser" href="#"
                                         role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                         aria-expanded="false">
                <div class="avatar avatar-xl">
                    {% if is_granted('ROLE_CANDIDATE') or is_granted('ROLE_RECRUITER') %}
                            <img class="rounded-circle"  src="{{ asset(app.user.imgPath) }}" alt="profile"/>
                    {% else %}
                        <img class="rounded-circle" src="{{ asset('build/images/logo_join/icon_join_bg_yellow.7824ad53.png') }}" alt="profile"/>
                    {% endif %}

                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                    <a class="dropdown-item" href="{{ path('app_change_password') }}">Change password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                </div>
            </div>
        </li>
    </ul>
</nav>