{% extends 'base.html.twig' %}

{% block title %}Technical Test{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% block body %}
    <main class="main" id="top">
        <div class="container" data-layout="container">

            {{ include('_sidebar.html.twig') }}

            <div class="content">

                {{ include('_navbar.html.twig') }}
                {% if (currentRecruitmentSession.collectiveInterviewsSelectionEnd < date() )  and (currentRecruitmentSession.technicalTestEnd > date() ) %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h5 class="mb-2 mb-md-0">Technical Test</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-lg-8 pe-lg-2">
                            <div class="card mb-3 ">
                                <div class="card-header ">
                                    <div class="row">
                                        <div>
                                            <h5 class="mb-0">Technical test</h5>
                                        </div>
                                    </div>
                                    {% for flash in app.flashes('error') %}
                                        <div class="alert alert-danger">{{ flash }}</div>
                                        <hr>
                                    {% endfor %}
                                </div>
                                <div class="card-body bg-light">
                                    <div class="row gx-2" id="technicalTestsFormsContainer">
                                        {% if currentRecruitmentSession.depChoiceMaxNbre %}
                                            {% for technicalTest in currentRecruitmentSession.technicalTests %}
                                                {% if technicalTest.department in app.user.departments %}
                                                    {% set submited =  0 %}
                                                    {% for technicalTestResult in app.user.technicalTestResults %}
                                                        {% if technicalTestResult.technicalTest == technicalTest %}
                                                            {% set submited =  1 %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {{ technicalTest.department.name }}
                                                    {% if submited %}
                                                        <div class="p-2 text-success">Answer submited !</div>
                                                    {% else %}
                                                        {% set form =  technicalTestResultForm.createView %}
                                                        {{ form_start(form) }}
                                                        {{ form_row(form.file) }}
                                                        <input type="hidden" id="technical_test_result_technicalTest"
                                                               name="technical_test_result[technicalTest]"
                                                               value="{{ technicalTest.id }}">
                                                        {{ form_row(form._token) }}
                                                        {{ form_row(form.submit) }}
                                                        {{ form_end(form, {'render_rest': false}) }}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for technicalTest in currentRecruitmentSession.technicalTests %}
                                                {% set submited =  0 %}
                                                {% for technicalTestResult in app.user.technicalTestResults %}
                                                    {% if technicalTestResult.technicalTest == technicalTest %}
                                                        {% set submited =  1 %}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ technicalTest.department.name }}
                                                {% if submited %}
                                                    <div class="p-2 text-success">Answer submited !</div>
                                                {% else %}
                                                    {% set form =  technicalTestResultForm.createView %}
                                                    {{ form_start(form) }}
                                                    {{ form_row(form.file) }}
                                                    <input type="hidden" id="technical_test_result_technicalTest"
                                                           name="technical_test_result[technicalTest]"
                                                           value="{{ technicalTest.id }}">
                                                    {{ form_row(form._token) }}
                                                    {{ form_row(form.submit) }}
                                                    {{ form_end(form, {'render_rest': false}) }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ps-lg-2">
                            <div class="sticky-sidebar">
                                {% if currentRecruitmentSession.depChoiceMaxNbre %}
                                    {% for technicalTest in currentRecruitmentSession.technicalTests %}
                                        {% if technicalTest.department in app.user.departments %}
                                            <div class="mb-3">
                                                <div class="card mb-lg-0">
                                                    <div class="card-header">
                                                        <div class="row flex-between-center">
                                                            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                                                                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">{{ technicalTest.department.name }}
                                                                    test</h5>
                                                            </div>
                                                            <div class="col-8 col-sm-auto ms-auto text-end ps-0">
                                                                <div id="orders-actions">
                                                                    <a class="btn btn-falcon-default btn-sm"
                                                                       href="{{ path('app_technical_test_view',{ technicalTest : technicalTest.pdf }) }}"
                                                                       target="_blank"><span class="fas fa-eye"
                                                                                             data-fa-transform="shrink-3 down-2"></span><span
                                                                                class="d-none d-sm-inline-block ms-1">View</span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for technicalTest in currentRecruitmentSession.technicalTests %}
                                        <div class="mb-3">
                                            <div class="card mb-lg-0">
                                                <div class="card-header">
                                                    <div class="row flex-between-center">
                                                        <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                                                            <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">{{ technicalTest.department.name }}
                                                                test</h5>
                                                        </div>
                                                        <div class="col-8 col-sm-auto ms-auto text-end ps-0">
                                                            <div id="orders-actions">
                                                                <a class="btn btn-falcon-default btn-sm"
                                                                   href="{{ path('app_technical_test_view',{ technicalTest : technicalTest.pdf }) }}"
                                                                   target="_blank"><span class="fas fa-eye"
                                                                                         data-fa-transform="shrink-3 down-2"></span><span
                                                                            class="d-none d-sm-inline-block ms-1">View</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row flex-between-center">
                                <div class="col-md text-center">
                                    <h5 class="mb-2 mb-md-0">You no longer can submit your technical test</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
